.str
{
	width: 30%;
	margin-top: 30px;
	align: center;
}

.str img
{
	width: 9%;
}

.main
{
	margin-left: 50px;
	margin-top: 50px;
}

.btn
{
	color: white;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #e56a3beb;
}

.txt
{
	width: 14%;
	height: 50px;
}